---
- name: Initialize the Kubernetes cluster
  ansible.builtin.command: >
    kubeadm init 
    --pod-network-cidr=10.244.0.0/16 
    --apiserver-advertise-address={{ ansible_default_ipv4.address }}
  args:
    creates: /etc/kubernetes/admin.conf

- name: mkdir /home/packer/.kube
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/.kube
    state: directory

- name: copy kube config into packer's home dir subfolder
  ansible.builtin.copy:
    remote_src: yes
    src: /etc/kubernetes/admin.conf
    dest: /home/{{ ansible_user }}/.kube/config
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '600'
  become: true

- name: Install Flannel CNI
  ansible.builtin.command: kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
  become: false
  args:
    creates: /etc/cni/net.d/10-flannel.conflist # Simple idempotency check

- name: Generate the join command
  ansible.builtin.command: kubeadm token create --print-join-command
  register: kubeadm_join_command

- name: Store the join command for worker nodes
  ansible.builtin.set_fact:
    join_command: "{{ kubeadm_join_command.stdout }}"
